* {
    box-sizing: border-box;
}
.menu {
    border-bottom: 1px solid #f1f1f1;
    margin: 0 15px;
    display: flex;
    padding: 15px;
    flex-direction: column;

    

}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.avatar__img {
   max-width: 100%;
}
.wrapper {
  width: 100%;
  position: relative;
}

.button {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
   
}    
.caret {
    position: absolute;
    top: 10px;
    right: 0px;
}


.username {
    color: #777;
    font-size: 14px;
}
.position {
    font-weight: 500;
    font-size: 12px;
    color: #555;
}

.nav {
    padding: 0;
    margin: 20px 0 0 0;
}
.link {
    list-style: none;
    padding: 7px 0;
}
.link a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    font-weight: 500;
}
